<!DOCTYPE html>
<html lang="en-US" ng-app="SpaceClickyGameApp">
	<head>
		<title>Space Clicky Game</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="js/kinetic-v5.1.0.min.js"></script>
		<script src="js/SpaceClickyGame.js"></script>
		<script src="js/SpaceClickyGame.Player.js"></script>
		<script src="js/SpaceClickyGame.GameObjects.js"></script>
		<script src="js/SpaceClickyGame.Shop.js"></script>
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/items.css" rel="stylesheet">
	</head>
	<body>
	<div class="navbar navbar-inverse navbar-fixed-top::before" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nvarbar-collapse">
				</button>
				<a class="navbar-brand" href="#">Space Clicky Game</a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a href="#">Home</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="container" ng-controller="SpaceController">
		<div space-clicky-stage id="mainStage" class="col-md-6">
		
		</div>

		<div class="col-md-6">
			<p>Clicks: {{player.clicks}}</p>
			<p>Money per click: {{player.multiplier | number:0}}</p>
			<p>Money per tick: {{player.moneyPerTick | number:0}}</p>
			<p>Money: {{player.money |number:0 }}</p>
			<p>Upgrades:</p>
			<ul>
				<li ng-repeat="ownedPurchaseType in player.purchasedUpgrades" ng-if="ownedPurchaseType.amountOwned > 0">{{ownedPurchaseType.purchase.name}} ({{ownedPurchaseType.amountOwned}})</li>
			</ul>
			
			
			<p><button id="purchase" ng-click="shop.togglePurchasesMenu()">{{purchasesToggleTitle}}</button></p>
			
			<div id="purchaseWindow" ng-if="shop.purchaseMenuOpen" class="row">
				<purchase ng-repeat="purchaseOption in shop.purchaseOptions" purchase-option="purchaseOption" on-purchase="shop.purchaseUpgrade(purchaseOption)" class="col-md-6"></purchase>
			</div>
			
		</div>
		
		
	</div>
	<!--
	Canvas without KineticJS
	<div class="container">
		<canvas id="mainDisplay" width="500" height="1000" style="border:1px solid #000000;"></canvas>
		
		<div ng-controller="SpaceController">
			<button ng-click="clickButton()">Click</button>
			<p>Clicks: {{clicks}}</p>
		</div>
	</div>
	-->
	</body>
</html>