<!DOCTYPE html>
<html lang="en-US" ng-app="SpaceClickyGameApp" >
	<head>
		<title>Space Clicky Game</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular-animate.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="js/kinetic-v5.1.0.min.js"></script>
		<script src="js/SpaceClickyGame.js"></script>
		<script src="js/SpaceClickyGame.Player.js"></script>
		<script src="js/SpaceClickyGame.GameObjects.js"></script>
		<script src="js/SpaceClickyGame.Shop.js"></script>
		<script src="js/SpaceClickyGame.UI.js"></script>
		<script src="js/SpaceClickyGame.Notifications.js"></script>
		<script src="js/SpaceClickyGame.Achievements.js"></script>
		<script src="js/SpaceClickyGame.GameEntity.js"></script>
		<script src="js/SpaceClickyGame.Drawable.js"></script>
		<script src="js/SpaceClickyGame.Orbiter.js"></script>
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/notifications.css" rel="stylesheet">
		<link href="css/items.css" rel="stylesheet">
		<link href="css/animate.css" rel="stylesheet">
		<link href="css/menu.css" rel="stylesheet">
	</head>
	<body  ng-controller="SpaceController">
	<div class="wrapper">
		<div class="sidebar sidebar-right" id="sidebar">
			<div class="sidebar-nav">
				<!-- TODO: Replace with icons -->
				<!-- TODO: Make menu slide open for narrower screens -->
				<ul>
					<li><button type="button" class="btn btn-primary sidebar-button" data-toggle="toggleSidebar"><i class="glyphicon glyphicon-chevron-left"></i></button></li>
					<li ng-click="ui.sidebar.changeToPanel('stats')">P</li>
					<li ng-click="ui.sidebar.changeToPanel('shop')">S</li>
					<li ng-click="ui.sidebar.changeToPanel('achievements')">A</li>
				</ul>
			</div>
			<div class="sidebar-content">
			
				<!-- Maybe move current money out of here so you can see how much money you have while buying -->
				<div class="sidebar-panel sidebar-panel-stats" ng-show="ui.sidebar.activePanel==='stats'">
					<p>Clicks: {{player.clicks}}</p>
					<p>Money per click: {{player.multiplier | number:0}}</p>
					<p>Money per tick: {{player.moneyPerTick | number:0}}</p>
					<p>Money: {{player.money |number:0 }}</p>
					<p>Upgrades:</p>
					<ul>
						<li ng-repeat="ownedPurchaseType in player.purchasedUpgrades" ng-if="ownedPurchaseType.amountOwned > 0">{{ownedPurchaseType.purchase.name}} ({{ownedPurchaseType.amountOwned}})</li>
					</ul>
				</div>
			
				<div class="sidebar-panel sidebar-panel-shop" ng-show="ui.sidebar.activePanel==='shop'">
					<div id="purchaseWindow" >
						<purchase ng-repeat="purchaseOption in shop.purchaseOptions" purchase-option="purchaseOption" on-purchase="shop.purchaseUpgrade(purchaseOption)"></purchase>
					</div>
				</div>
			
				<div class="sidebar-panel sidebar-panel-achievements" ng-show="ui.sidebar.activePanel==='achievements'">
					<div ng-controller="AchievementsController">
						<p>Achievements:</p>
						<achievement ng-repeat="achievement in achievements.completed" achievement="achievement"></achievement>
					</div>
				</div>
			</div>
		</div>

		<notification-center>
			<notification ng-repeat="notification in notificationCenter.activeNotifications"></notification>
		</notification-center>
		<div class="main-window">
			<div class="row">
				<div space-clicky-stage id="mainStage" class="col-md-12">
				</div>
			</div>
		</div>
	</div>
	</body>
</html>