<div class="purchase-container">
	<div class="purchase-thumbnail">
		<img src="{{purchaseOption.imgpath}}" ng-if="purchaseOption.imgpath"></img>
	</div>
	<div class="purchase-info">
		<ul>
			<li>{{purchaseOption.name}}</li>
			<li>{{purchaseOption.description}}</li>
			<li ng-if="purchaseOption.maximum"><strong>Maximum:</strong> {{purchaseOption.maximum}}</li>
			<li><strong>Cost:</strong> {{purchaseOption.cost |number:0}}</li>
		</ul>
		
		<button class="purchase-button" ng-click="purchase(purchaseOption)">Purchase</button>
	</div>
	
</div>